In [1]:
import pandas as pd

In [3]:
# load the dataset
df = pd.read_csv('spam.csv')
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
# convert labels to binary
df['label'] = df['label'].map({'ham': 0, 'spam': 1})
# check class balance
print(df['label'].value_counts())

label
0    4825
1     747
Name: count, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
# define the target feature (X) and target (y) variables
X = df['message']
y = df['label']

In [8]:
# split into 80% training and 20% testing
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
from sklearn.feature_extraction.text import TfidVectorizer

ImportError: cannot import name 'TfidVectorizer' from 'sklearn.feature_extraction.text' (C:\Users\HomePC\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py)